html
	head
		meta( name="viewport" content="width={width},initial-scale=1")
		meta( data-n-head="true" data-hid="og-title" name="og:title" content=header)
		meta( data-n-head="true" data-hid="og-description" name="og:description" content=text)
		meta( data-n-head="true" data-hid="og-image" name="og:image" content=image)
	body
		script.
			document.location.href = '#{url}'
